div.table-responsive
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;

    width:80%;
    height:60%;
    text-align: center;
}
tr.you
{
    background-color: #9E9E9E;
}
#theHeading
{
    position:absolute;
    top: 60px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
