div.table-responsive
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;

    width:60%;
    height:60%;
    text-align: center;
}
tr.you
{
    background-color: #d8d8d8;
}
#theHeading
{
    position:absolute;
    top: 8%;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
	
	font-family:"Roboto";
}