#matchBetween
{
    position:absolute;
    top:12%;
    left:0;
    right:0;
    margin:auto;
	font-family:"Roboto";
}

#matchWinner
{
    position:absolute;
    top:18%;
    left:0;
    right:0;
    margin:auto;
	font-family:"Roboto";
}

#battingTable
{
	position:absolute;
    margin:12% 0% 0% 25%;
    width:60%;
}
#bowlingTable
{
	position:absolute;
    margin:12% 0% 0% 20%;
    width:60%;
}
#choices
{
    position:absolute;
    top:15%;
    right:17.5%;
}
