#matchBetween
{
    position:absolute;
    top:12%;
    left:0;
    right:0;
    margin:auto;
	font-family:"Roboto";
}
#matchWinner
{
    position:absolute;
    top:18%;
    left:0;
    right:0;
    margin:auto;
	font-family:"Roboto";
}

.data-container{
    position:absolute;
    height:65%;
    width:60%;
	top:25%;
	background-color:#f8f8f8;
    left:20%;
    overflow-y: scroll;
    text-align: center;
	cursor:pointer;
}

#choices
{
    position:absolute;
    top:15%;
    right:20%;
}
