#playerList{
    position:absolute;
    height:60%;
    width:48.5%;
    top:20%;
    background-color:#f8f8f8;
    left:1%;
    overflow-y: scroll;
    text-align: center;
    cursor:pointer;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#userSquad{
    position:absolute;
    height:60%;
    width:48.5%;
    top:20%;
    right:1%;
    background-color:#f8f8f8;
    overflow-y: scroll;
    text-align: center;
    cursor:pointer;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playerBalance{
    position:relative;
    float:left;
    width:35%;
}
#transferBalance{
    position:relative;
    float:left;
    width:65%;
    float:right;
}
.player{
    width:90%;
    margin:0 auto;
    border-radius:5px;
    font-size:13px;
    height:30px;
}
.userplayer{
    width:90%;
    margin:0 auto;
    font-size:13px;
    border-radius:5px;
    height:30px;
}

#switches{
    position:absolute;
    text-align: center;
    top:24%;
    width:50%;
}

#progbardiv{
    position:absolute;
    width:50%;
    height:5px;
    left:15%;
    bottom:9%;
}

#playerInfo
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;

    z-index: 2;
    background-color: #f7f7f7;
    height:80%;
    width:80%;

    border-radius: 15px;

/*    display:none;*/
}

.row_left{
    width:50%;
    float:left;
    text-align:right;
    padding-right:5px;
    margin-top:10%;
}
.row_right{
    width:50%;
    float:right;
    text-align:left;
    padding-left:5px;
    margin-top:10%;
}

#modalclose
{
    position:absolute;
    height:20px;
    width:20px;
    top:1.5%;
    right:1.5%;
    color:red;
    text-align: center;
}
#playerData
{
    position:absolute;
    width:90%;
    height:90%;

    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}

#playerProfile
{
    position:absolute;
    left:2%;
    height:100%;
    width:30%;
    text-align: center;
}
#playerStats
{
    position:absolute;
    right:2%;
    height:100%;
    width:65%;
    text-align: center;
}
#playerpic
{
    width:200px;
    height: 200px;
}

#battingStats,
#bowlingStats,
#fieldingStats
{
    height:30%;
    padding: 1.5%;
}

#battingTable,#bowlingTable
{
    width:95%;
    position:absolute;
    left:0;
    right:0;
    margin:auto;

}
#confirmSquad
{
    position:absolute;
    width:20%;
    bottom:10%;
    right:10%;

}
#confirmedP11List
{
    position:absolute;
    height:60%;
    top:10%;
    width:60%;
    left:20%;
    right:20%;

    text-align: left;
}
#ratioCheckDiv
{
    position:absolute;
    width: 48.5%;
    height:4%;
    top:15%;
    right:1%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}

.imgAnimPic
{
    border: solid !important;
    border-width: thin !important;
    border-color: #e7e7e7 !important;
    border-radius: 5px;
}
#confirmed11
{
    position:absolute;
/*    top:0%;*/
    max-height:calc(100% - 100px);
}
