@font-face{
		font-family: "Roboto";
		src: url("./../fonts/RobotoCondensed-Bold.ttf");
}
@font-face{
		font-family: "OpenSans";
		src: url("./../fonts/OpenSans-Semibold.ttf");
}



body{
    width:100%;
}

.navbar-header{
	padding:0px 40px 0px 0px;
}
.navbar-nav>li:hover {
	background-color:#e7e7e7;
}

.header{
	font-family:"Roboto";
	border-bottom:1px solid #099;
}

.footer p{
	color:#777;
	padding-top:10px;
    font-size:12px;
	text-align:center;
	font-family:"Roboto";
}

.btn{
	border: none;
}
.btn:hover{
	transition:background 0.5s;
}

th{
	text-align:center;
}

.dropdown-menu{
	background-color:#f7f7f7;
}
.drop{
	opacity:0.5;
}
.drop:hover{
	opacity:1;
}

.btn{
	font-family:"Calibri";
}

.panel-heading{
	font-family:"Roboto";
}
.panel-body,.panel-primary{
	font-family:"Calibri";
}

.table{
	font-family:"OpenSans";
	font-size:13px;
}